In [27]:
import pandas as pd
import numpy as np

### Loading Data

In [31]:
# Read from csv
dataframe = pd.read_csv('baseball.csv',
                        header='infer',
                        delimiter=',')

# Read from json
# dataframe = pd.read_json('baseball.json')

# Read from pickle
# pd.read_pickle

### Basic Description & Sanity Checks

In [32]:
# Describe
dataframe.describe()

# Check lines containing NaNs
dataframe[dataframe.isna().any(axis=1)]

Empty DataFrame
Columns: [id, player, year, stint, team, lg, g, ab, r, h, X2b, X3b, hr, rbi, sb, cs, bb, so, ibb, hbp, sh, sf, gidp]
Index: []

[0 rows x 23 columns]

### Transformations

In [28]:
def standardize(x):
    return (x - x.mean()) / x.std()

def normalize(x):
    return (x - x.mean()) / x.std()

In [37]:
# Element-wise operations
new_column = dataframe['id'] * dataframe['year']

# Single-axis maps
new_dataframe = dataframe[['id', 'year', 'ab']].apply(standardize, axis=0)

# Array-wide scalars
new_dataframe = dataframe[['id', 'year', 'ab']].apply(standardize, axis=0)

          id      year        ab
0  -3.250912 -3.374167 -0.475660
1  -3.241776 -3.374167 -0.739487
2  -3.232640 -3.374167 -0.750480
3  -3.214368 -3.374167 -0.733991
4  -3.209800 -3.374167 -0.717502
5  -3.200664 -3.374167  1.590992
6  -3.196095 -3.374167  2.470418
7  -3.154983 -3.374167 -0.607573
8  -0.802427  0.293406 -0.530624
9  -0.797859  0.293406 -0.475660
10 -0.103512  0.293406  1.068832
11 -0.089808  0.293406 -0.750480
12 -0.085240  0.293406 -0.426192
13 -0.080672  0.293406 -0.750480
14 -0.076104  0.293406 -0.750480
15 -0.071536  0.293406 -0.151371
16 -0.066968  0.293406 -0.744984
17 -0.062400  0.293406 -0.668034
18 -0.057832  0.293406 -0.541616
19 -0.053264  0.293406 -0.750480
20 -0.044128  0.293406 -0.486652
21 -0.034991  0.293406 -0.739487
22 -0.025855  0.293406  2.069179
23 -0.021287  0.293406 -0.750480
24 -0.003015  0.293406  0.161924
25  0.006121  0.293406 -0.712005
26  0.010689  0.293406 -0.722998
27  0.028962  0.293406 -0.750480
28  0.033530  0.293406  1.623970
29  0.038098  0.293406  2.168115
..       ...       ...       ...
70  0.490337  0.293406 -0.750480
71  0.499473  0.293406  2.151626
72  0.504041  0.293406  1.700920
73  0.508609  0.293406  0.519191
74  0.513177  0.293406 -0.750480
75  0.517745  0.293406  1.799855
76  0.522313  0.293406 -0.459170
77  0.526881  0.293406  0.178414
78  0.531449  0.293406 -0.442681
79  0.549721  0.293406  0.799508
80  0.554290  0.293406 -0.233817
81  0.581698  0.293406 -0.750480
82  0.586266  0.293406  1.255710
83  0.590834  0.293406  0.310327
84  0.622811  0.293406  2.206590
85  0.641083  0.293406 -0.750480
86  0.645651  0.293406 -0.525127
87  0.650219  0.293406  0.431249
88  0.659355  0.293406 -0.739487
89  0.663923  0.293406 -0.717502
90  0.668491  0.293406  0.288342
91  0.677627  0.293406 -0.530624
92  0.682195  0.293406  0.090471
93  0.768989  0.293406  1.118300
94  0.778125  0.293406  2.091165
95  0.787261  0.293406 -0.750480
96  0.791829  0.293406 -0.750480
97  0.810101  0.293406  1.167768
98  0.823806  0.293406  1.052343
99  0.828374  0.293406 -0.629559

[100 rows x 3 columns]

0     177813846
1     177817858
2     177821870
3     177829894
4     177831900
5     177835912
6     177837918
7     177855972
8     178978239
9     178980246
10    179285310
11    179291331
12    179293338
13    179295345
14    179297352
15    179299359
16    179301366
17    179303373
18    179305380
19    179307387
20    179311401
21    179315415
22    179319429
23    179321436
24    179329464
25    179333478
26    179335485
27    179343513
28    179345520
29    179347527
        ...
70    179546220
71    179550234
72    179552241
73    179554248
74    179556255
75    179558262
76    179560269
77    179562276
78    179564283
79    179572311
80    179574318
81    179586360
82    179588367
83    179590374
84    179604423
85    179612451
86    179614458
87    179616465
88    179620479
89    179622486
90    179624493
91    179628507
92    179630514
93    179668647
94    179672661
95    179676675
96    179678682
97    179686710
98    179692731
99    179694738
Length: 100, dtype: int64